.inlineLink {
    color: rgb(95, 156, 158);
}

.timesBox {
    height: 200px;
    overflow: scroll;
}

.apptCreatorBackground {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(15, 46, 78, 0.875);
    z-index: 2;
    display: flex;
    justify-content: center;
    padding-top: 10%;

}

.apptCreator {
    height: fit-content;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px 17px;
    background-color: #eff2f7;
}

.hidden {
    display: none;
    transition: 1s ease-in-out;

}

.apptContainers {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.blur {
    filter: blur(1.5 rem)
}

.timeSelection {
    display: flex;
    flex-direction: column;
    text-align: start;

}

.addBtn {
    float: right;
}