
th {
    border: 1px solid #bebebe;
    padding: 10px;
}

td {
    text-align: center;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #bbbbbbba;
}

th[scope="col"] {
    background-color: #ffffff3d;
    color: #858585;
    font-weight: bold;
    border-bottom: 1px solid #a8a8a8;
}

th[scope="row"] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    background-color: #ffffffc2;
    border: #ffffff6e solid;
    box-shadow: 0px 0px 43px #bababa;
    color: #000000;
}

.table {
    button {
        color: #000000;
        border-radius: 5px;
        background-image: linear-gradient(#c2c2c2,#e7e7e7);
        padding: 2px 9px;
    }
}



