$footer-end-margin: 5%;

.footer {
  background-color: #000000;
  color: white;
  margin: 0;
  padding: .75% 0;
  bottom: 0;
  width: 100vw;
  position: relative;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerIcons {
  font-size: 2rem;
  margin-left: $footer-end-margin;
}

.footerIcons {
  a {
    padding: .25em;
  }
}

.footerContact {
  display: flex;
  justify-content: space-between;
  margin-right: $footer-end-margin;
}

.footerContact {
  div {
    padding: 0 1em;
  }
}

@media (max-width: 604px) {
  footer, .footerContact {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .footer {
    font-size: .8rem;
    height: 100px;
  }
.footerIcons, .footerContact {
  margin: 0;
}
}