

.loginpage {
  font-family: 'Open Sans Condensed', sans-serif;
  background-image: url('../../images/bigstock-212328235.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  input {
    width: 240px;
    height: 20px;
    font-size: 20px;
  }
}

.mainbox {
  position: relative;
  text-align: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  max-width: 1210px;
}

.loginbox {
  height: 65%;
  max-height: 540px;
  padding: 30px 70px;
  background-color: #f0ffff8a;
  border-radius: 50px;
}

.loginHeader {
  margin: 10px 0;
}

.login {
 margin-bottom: 90px;
}

h1 {
  text-align: center;
  font-size: 30px;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;

}

.userInput {
  font-size: 17px;
  margin-bottom: 11px;
}

p {
  margin: 0;
}

.loginButton {
  float: right;
  margin: 10px 0;
  font-size: 15px;
  background-color: #000000;
  color: white;
  padding: 10px 15px;
  box-shadow: 4px 4px 4px #3130309f;
  border: none;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  transition: .5s;
}


@media (max-width: 937px), (max-height: 738px) {
  .loginbox {
    padding: 25px;
    border-radius: 7px;
    height: fit-content;
  }
  .userInput {
    font-size: 1rem;
    width: 90%;
  }
  .loginpage {
    input {
      font-size: 1rem;
      width: initial;
      height: initial;
    }
    h1 {
    font-size: 1rem;
    }
  }
  .login {
    margin: 0;
  }
  .loginButton {
    font-size: .7rem;
    padding: 5px 10px;
  }
}

@media (max-width: 506px), (max-height: 472px) {
  .mainbox {
    flex-direction: column;
    overflow: scroll;
    justify-content: unset;

  }
  .loginbox {
    margin: 11px 0;
    width: 80vw;
    max-width: 340px;
     input {
      width: 100%;
     }
  }
}