$main-font: 'Fjalla One', sans-serif;

.nav {
  position: absolute;
  background-color: #00000061;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 16px;
  width: 100vw;
  font-family: $main-font;
  letter-spacing: .15rem;
  z-index: 1;
}

.logo {
  max-width: 62px;
}

.menuList {
  display: flex;
  justify-content: space-around;

}

.menu {
  width: 700px;
  .fas {
    display: none
  }
}

.displayName {
  text-transform: capitalize;
  position: absolute;
  right: 2%;
  top: 4rem;
  // color: black;
}



@media (max-width:573px), (max-height: 612px) {
  .nav {
    background-color: #000000;
    position: relative;
  }
  .menu {
    width: fit-content;
    .fas {
      display: flex;
    }
  }
  .menuList {
    flex-direction: column;
    position: absolute;
    right: 0;
    align-items: baseline;
    justify-content: space-evenly;
    text-decoration: none;
    margin: 0;
    padding: 12px 14px;
    background-color: #000000;
    line-height: 1.7rem;
    top: 45px;
    transition: .5s;
  }
  .displayName{
    display: none;
  }
}

.hide {
  right: -118px;
}
